.Board{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    margin: 30px auto;
}

.Cell{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    border: 5px solid #7E7E7E;
    font-weight: 400;
    border-bottom: none;
    font-family: 'Baskerville', sans-serif;
    font-style: normal;
    font-size: 48px;
    line-height: 55px;
    color: #201238;

    &:nth-child(3n + 1) {
        border-left: none;
    }
    &:nth-child(3n + 3) {
        border-right: none;
        border-left: none;
    }
    &:nth-child(-n + 3) {
        border-top: none;
    }

    &:empty{
        cursor: pointer;
    }

    &.invalid{
        cursor: not-allowed;
    }

    &.winner {
        background-color: #5CB85C;
    }
}
